{% extends 'admin/base.html.twig' %}

{% block title %}Regelements index{% endblock %}

{% block body %}
<div class="container">
    <h6 class="mt-4 mb-5">Situation de Fournisseur  {{ nom }}</h6>

    <table class=" table table-bordered small"  >
        <thead>
            <tr class="text-center">
                <th>DATE ECRITURE</td>
                <th>Pieces</th>
                <th>libelle</th>
                <th>Banque</th>
                <th>Mode</th>
                <th>debit</th>
                <th>Credit</th>
                <th>observation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% set credit = 0 %}
        {% set debit = 0 %}
        {% for achatReg in achatRegs %}
            <tr>
                <td class="text-center">{{ achatReg.date|date('d-m-Y') }}</td>
                <td>{{ achatReg.designation }}</td>
                <td>{{ achatReg.libelle }}</td>
                <td>{{ achatReg.banque }}</td>
                <td> {% if achatReg.Mode is empty %}
                        null
                     {% else %}
                     {{ achatReg.Mode.modeReg   }}
                      {% endif %}
                      </td>
                <td class="text-center">{{ achatReg.debit|number_format(2, '.', ',') }}</td>
                <td class="text-center">{{ achatReg.credit|number_format(2, '.', ',') }}</td>
                <td>{{ achatReg.observation }}</td>
                <td>
                    {# <a href="{{ path('achatReg_show', {'id': achatReg.id}) }}">show</a> #}
                    {# <a href="{{ path('achatReg_edit', {'id': Regelement.id}) }}">edit</a> #}
                </td>
            </tr>
            {% set credit = credit + achatReg.credit %}
            {% set debit = debit + achatReg.debit  %}
        {% else %}
            <tr>
                <td colspan="3"> no records found </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<hr class="w-100">
<div class="row">
    <div class="col-md-7"></div>
    <div class="col-md-5">
      <table  class="table table-bordered small">
            <tr>
                <th class="text-center">Total</th>
                <td class="text-center">{{ debit|number_format(2, '.', ',') }}</td>
                <td class="text-center">{{ credit|number_format(2, '.', ',') }}</td>
            </tr>
            <tr>
                <th colspan="2" class="text-center" >Solde</th>
                <td class="text-center">{{ (debit - credit)|number_format(2, '.', ',') }}</td>
            </tr>
            <tr>
                <th colspan="2" class="text-center" >IMPAYES</th>
                <td class="text-center">00.00</td>
            </tr>
            <tr>
                <th colspan="2" class="text-center" >SOLDE A PAYER</th>
                <td class="text-center">{{ (debit - credit)|number_format(2, '.', ',') }}</td>
            </tr>
    </table>
    </div>
</div>
    {# <a href="{{ path('Regelements_new') }}">Create new</a> #}
</div>

{% endblock %}
