<section class="blog-section section-content ">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- posts-container -->
			<div class="posts-container">
				<div class="col-md-6 col-sm-6">
					<h2 class="entry-title text-center"><a href="" rel="">{{ produits.slug | upper  }}</a></h2>
					<article class="blog-post-wrapper">
						<div class="figure sticky-post">    
							<div class="post-thumbnail">
								<img src="{{ asset('upload/'~ produits.image ) }}" class="img-responsive " alt="">
								<div class="blog-post-overlay"></div>
								<a class="img-link" href="{{asset('../img/blog/blog-2.jpg') }}"><small>
									<img src="{{asset('./img/zoomin.png') }}" alt="zoom"></small>
								</a>
							</div>
						</div>
					</article><!-- /.blog-post-wrapper -->
					
					<!-- END PAGINATION -->
					<div class="clearfix"></div>
				</div> <!-- /col-md-8 -->
				<div class="col-md-6 col-sm-6">
					<div class="sidebar-wrapper right-sidebar">
						<aside class="widget widget_search">
							<form role="search" method="get" class="search-form">
								<label>
									<span class="screen-reader-text">Bienvenue ...!</span>
									<input type="search" class="form-control search-field" placeholder="Bienvenue ...!" value="" name="s" title="Search for:">
								</label>
							</form>
						</aside>
						<div class=" p-3 ">
							 	<h4 class="badge badge-info text-center"> déscription de Produit</h4>
							</div>
							<aside class="widget widget_search" style="line-height: 1 rm;">
							{{ produits.description | raw }}
						   </aside>
						<aside class=" widget widget_recent_entries">
							<div class="sidebar-tab">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs" role="tablist">
									<li class="active"><a href="#recent-post" role="tab" data-toggle="tab">Recent Post</a></li>
									<li><a href="#most-read" role="tab" data-toggle="tab">Most Read</a></li>
								</ul>
								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane fade in active" id="recent-post">
										<ul class="tab-recent-post">
											<li>
												<div class="tab-post-thumb">
													<img class="img-responsive" src="{{ asset('upload/'~ produits.image ) }}"  alt="Image">
												</div>
												<div class="tab-post-heading">
													<h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
													<div class="entry-meta">
														<span class="author">
																<a href="#">Admin</a> 
														</span>
														<span class="post-date"> Aug 12, 2014</span>
													</div><!-- .entry-meta -->
												</div>
											</li>
											<li>
												<div class="tab-post-thumb">
													<img class="img-responsive" src="{{asset('./img/blog/blog-2.jpg') }}" alt="Image">
												</div>
												<div class="tab-post-heading">
													<h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
													<div class="entry-meta">
														<span class="author">
															<a href="#">Admin</a> 
														</span>
														<span class="post-date"> Aug 12, 2014</span>
													</div><!-- .entry-meta -->
												</div>
											</li>
										</ul>
									</div> <!-- /recent post tab -->
									<div class="tab-pane fade" id="most-read">
										<ul class="tab-most-read">
											<li>
												<div class="tab-post-thumb">
													<img class="img-responsive" src="{{ asset('./img/blog/blog-3.jpg') }}" alt="Image">
												</div>
												<div class="tab-post-heading">
													<h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
													<div class="entry-meta">
														<span class="author">
															<a href="#">Admin</a> 
														</span>
														<span class="post-date">Aug 12, 2014</span>
													</div><!-- .entry-meta -->
												</div>
											</li>
											<li>
												<div class="tab-post-thumb">
													<img class="img-responsive" src="{{ asset('./img/blog/blog-2.jpg') }}" alt="Image">
												</div>
												<div class="tab-post-heading">
													<h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
													<div class="entry-meta">
														<span class="author">
															<a href="#">Admin</a> 
														</span>
														<span class="post-date">Aug 12, 2014</span>
													</div><!-- .entry-meta -->
												</div>
											</li>
										</ul>
									</div><!-- /most read tab -->
								</div>
							</div><!-- /tab-wrap -->
						</aside>
					</div><!-- /.sidebar -->
					</div><!-- /.col -->
					
			</div> <!-- /posts-container -->
		</div><!-- /row -->
	</div><!-- /container -->
</section><!-- /blog-section -->
