<header class="header">
            <nav class="top-bar">
                <div class="overlay-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="call-to-action">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-phone"></i> +212 6 62 60 55 04 </a></li>
                                        <li><a href="#"><i class="fa fa-envelope"></i> steaitiken@gmail.com</a></li>
                                    </ul>
                                </div><!-- /.call-to-action -->
                            </div><!-- /.col-sm-6 -->

                            <div class="col-sm-6 hidden-xs">
                                <div class="topbar-right">
                                    <div class="lang-support pull-right">
                                        <select class="cs-select cs-skin-elastic">
                                            <option value="" disabled selected>Language</option>
                                            <option value="united-kingdom" data-class="flag-uk">English</option>
                                            <option value="france" data-class="flag-france">French</option>
                                            <option value="spain" data-class="flag-Morocco">arabe</option>
                                        </select>
                                    </div>

                                    <ul class="social-links list-inline pull-right">
                                        <li><a href="https://www.facebook.com/brahim.bouhdou"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.facebook.com/brahim.bouhdou"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.facebook.com/brahim.bouhdou"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="https://www.facebook.com/brahim.bouhdou"><i class="fa fa-tumblr"></i></a></li>
                                    </ul>
                                </div><!-- /.social-links -->
                            </div><!-- /.col-sm-6 -->
                            
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div><!-- /.overlay-bg -->
            </nav><!-- /.top-bar -->

            <div id="search">
                <button type="button" class="close">×</button>
                <form>
                    <input type="search" value="" placeholder="type keyword(s) here" />
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
            
            <nav class="navbar navbar-default" role="navigation">
                
                <div class="container mainnav">
                    <div class="navbar-header">
                        <h1 class="logo">
                            <a class="navbar-brand" href="index.html">
                                <img class="img-fluid" width="300px" height="33px" src="img/ste/logo.png" alt="">
                            </a>
                        </h1>
                        <!-- offcanvas-trigger -->
                        <button type="button" class="navbar-toggle collapsed pull-right" >
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-bars"></i>
                        </button>

                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-collapse">

                        

                        <span class="search-button pull-right"><a href="#search"><i class="fa fa-search"></i></a></span>

                        <ul class="nav navbar-nav navbar-right">
                            <!-- Home -->
                            <li class=" active"><a href="{{ path('homePage')}}">
                                Accueil <span class=""></span></a>
                            </li>
                            <!-- /Home -->
                             <li class=" "><a href="{{ path('presentationPage') }}">
                                présentation </a>
                            </li>
                            <!-- MEGA MENU -->
                                <li class="dropdown mega-fw has-megamenu"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Produits <span class="fa fa-angle-down"></span></a>
                                    <!-- megamenu-wrapper -->
                                    <div class="submenu-wrapper megamenu-wrapper">
                                        <div class="submenu-inner megamenu-inner">
                                        
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <div class="mega-content">
                                                        <div class="row">
                                                        
                                                            <div class="col-sm-4 mega-col">
                                                                <ul>
                                                                    <li class="dropdown-header"><a href="{{ path('boisPage') }}"> Travaux En Bois</a></li>
                                                                   {% for type in typee %}
                                                                   {% if type.Categories.id == 2 %}
                                                                    <li><a href="{{ path('boisPage') }}">{{type.typeCategorie}}</a></li>
                                                                   {% endif %}
                                                                   {% endfor %}
                                                                </ul>
                                                            </div><!-- /.col -->
                                                            
                                                            
                                                            <div class="col-sm-4 mega-col">
                                                                <ul>
                                                                    <li class="dropdown-header"><a href="{{ path('aluminiumPage')}}"> Travaux Aluminium</a></li>
                                                                     {% for type in typee %}
                                                                   {% if type.Categories.id == 1 %}
                                                                    <li><a href="{{ path('aluminiumPage')}}">{{type.typeCategorie}}</a></li>
                                                                   {% endif %}
                                                                   {% endfor %}
                                                                </ul>
                                                            </div><!-- /.col-->


                                                            <div class="col-sm-4 mega-col">
                                                                <ul>
                                                                    <li class="dropdown-header"><a href="{{ path('metalliquePage')}}"> Travaux Métallique </a></li>
                                                                     {% for type in typee %}
                                                                   {% if type.Categories.id ==3 %}
                                                                    <li><a href="{{ path('metalliquePage')}}">{{type.typeCategorie}}</a></li>
                                                                   {% endif %}
                                                                   {% endfor %}
                                                                </ul>
                                                            </div><!-- /.col-->

	
                                                        </div><!-- /.row -->
                                                    </div><!-- /.mega-content -->
                                                </li>
                                            </ul><!-- /.dropdown menu -->
                                        </div><!-- /.megamenu-inner -->
                                    </div> <!-- /.megamenu-wrapper -->
                                </li> <!-- /MEGA MENU -->
                            <!-- /Pages -->
                            <!-- Blog -->
                            <li class="dropdown"><a href="#">Blog <span class="fa fa-angle-down"></span></a>
                                <!-- submenu-wrapper -->
                                <div class="submenu-wrapper">
                                    <div class="submenu-inner">
                                        <ul class="dropdown-menu">
                                            <li><a href="blog.html">Standard blog</a></li>
                                            <li><a href="blog-single.html">Single blog</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /submenu-wrapper -->
                            </li>
                            <li><a href="{{ path('contactPage') }}">Contact</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container -->

                
            </nav>
            
</header>