 <section id="content">
      <div class="container">
        <div class="row">
          <div class="span12">
            <ul class="portfolio-categ filter">
              <li class="all active"><a href="#">Tous produits </a></li>
              {% for type in types %}
              <li class="{{ type.typeCategorie|replace({' ': "-"}) }}"><a href="#" title="">{{ type.typeCategorie }}</a></li>
              {% endfor %}
            </ul>
            <div class="clearfix">
            </div>
            <div class="row">
              <section id="projects">
                <ul id="thumbs" class="portfolio">
                  <!-- Item Project and Filter Name -->
                 {% for type in types %} 
                 {% for produit in type.produits %}
                  <li class="item-thumbs span4 design" data-id="id-0" data-type="{{ type.typeCategorie|replace({' ' : '-'}) }}">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Portfolio name" href="{{ path("boisDetails",{'id' : produit.id }) }}">
						    <span class="overlay-img"></span>
						    <span class="overlay-img-thumb font-icon-plus"></span>
					    	</a>
                    <!-- Thumb Image and Description -->
                  <img src="{{ asset('upload/'~ produit.image ) }}" alt="ddd.">
                  </li>
                  {% endfor %}
                  {% endfor %}
                  <!-- End Item Project -->
                </ul>
              </section>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="clearfix"></div>