{% extends 'admin/base.html.twig' %}

{% block title %}Fournisseurs index{% endblock %}

{% block body %}
<div class="container mt-4">
    <h4 class="text-center mb-3 text-info">Ajouter un nouveaux Fournisseur </h4>

    <table class="table table-hover small">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomComplet</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Solde</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fournisseur in fournisseurs %}
            <tr>
                <td>{{ fournisseur.id }}</td>
                <td>{{ fournisseur.NomComplet }}</td>
                <td>{{ fournisseur.Email }}</td>
                <td>{{ fournisseur.Adresse }}</td>
                <td>{{ fournisseur.telephone }}</td>
                 <th>{{ fournisseur.getSoldeFrs|number_format(2, '.', ',')  }} dh</th>
                <td>
                    <a class="btn  pt-0 pb-0 text-primary " href="{{ path('fournisseurs_show', {'id': fournisseur.id}) }}"><i class="fas fa-user"></i></a>
                     <a class="btn  pt-0 pb-0 text-success " href="{{ path('Achats_index', {'id': fournisseur.id}) }}"><i class="fas fa-cart-plus"></i></a>
                     <a class="btn  pt-0 pb-0 text-info " href="{{ path('Regelements_index', {'id': fournisseur.id}) }}"><i class="fas fa-money-check-alt "></i></a>
                     <a class="btn  pt-0 pb-0 text-info " href="{{ path('situation_frs', {'id': fournisseur.id}) }}"><i class="fas fa-list "></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('fournisseurs_new') }}"><i class="fas fa-plus"></i> Enregistrer </a>
</div>
{% endblock %}
