{% extends 'Admin/base.html.twig' %}

{% block title %}ModeRegelement index{% endblock %}

{% block body %}
    <h1>ModeRegelement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mode_regelement in mode_regelements %}
            <tr>
                <td>{{ mode_regelement.id }}</td>
                <td>{{ mode_regelement.libelle }}</td>
                <td>
                    <a href="{{ path('mode_regelement_show', {'id': mode_regelement.id}) }}">show</a>
                    <a href="{{ path('mode_regelement_edit', {'id': mode_regelement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mode_regelement_new') }}">Create new</a>
{% endblock %}
