{% extends 'admin/base.html.twig' %}

{% block title %}Achats index{% endblock %}

{% block body %}
    <h1>Achats index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pieces</th>
                <th>libelle</th>
                <th>fournisseur</th>
                <th>debit</th>
                <th>observation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for Achat in Achats %}
            <tr>
                <td>{{ Achat.id }}</td>
                <td>{{ Achat.designation }}</td>
                <td>{{ Achat.libelle }}</td>
                <td>{{ Achat.fournisseur.NomComplet }}</td>
                <td>{{ Achat.debit }}</td>
                <td>{{ Achat.observation }}</td>
                <td>
                    <a href="{{ path('Achats_show', {'id': Achat.id}) }}">show</a>
                    <a href="{{ path('Achats_edit', {'id': Achat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('Achats_new') }}">Create new</a>
{% endblock %}
