{% extends 'admin/base.html.twig' %}

{% block title %}AChats{% endblock %}

{% block body %}
<div class="container">
    <h1>Achats</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ Achat.id }}</td>
            </tr>
            <tr>
                <th>designation</th>
                  <td>{{ Achat.designation }}</td>
            </tr>
            <tr>
                <th>libelle</th>
                  <td>{{ Achat.libelle }}</td>
            </tr>
            <tr>
                <th>designation</th>
                 <td>{{ Achat.fournisseur.NomComplet }}</td>
            </tr>
            <tr>
                <th>debit</th>
                  <td>{{ Achat.debit }}</td>
            </tr>
            <tr>
                <th>observation</th>
                 <td>{{ Achat.observation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('Achats_index',{'id' : Achat.fournisseur.id}) }}">Retour</a>

    <a href="{{ path('Achats_edit', {'id': Achat.id}) }}">edit</a>

    {{ include('admin/Achats/_delete_form.html.twig') }}
</div>
{% endblock %}
