{% extends 'admin/base.html.twig' %}

{% block title %}Regelements{% endblock %}

{% block body %}
<div class="container">
    <h1>Regelements</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ Regelement.id }}</td>
            </tr>
            <tr>
                <th>designation</th>
                  <td>{{ Regelement.designation }}</td>
            </tr>
            <tr>
                <th>libelle</th>
                  <td>{{ Regelement.libelle }}</td>
            </tr>
            <tr>
                <th>fournisseur</th>
                 <td>{{ Regelement.clients.NomComplet }}</td>
            </tr>
            <tr>
                <th>Banque</th>
                  <td>{{ Regelement.banque }}</td>
            </tr>
             <tr>
                <th>Mode</th>
                  <td>{{ Regelement.Mode.modeReg }}</td>
            </tr>
             <tr>
                <th>credit</th>
                  <td>{{ Regelement.credit|number_format(2, '.', ',') }}</td>
            </tr>
            <tr>
                <th>observation</th>
                 <td>{{ Regelement.observation }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary mt-3" href="{{ path('Regelement_index',{ 'id' : Regelement.clients.id }) }}">Retour</a>

    <a class="btn btn-success mt-3" href="{{ path('Regel_edit', {'id': Regelement.id}) }}">Modification</a>

    {{ include('admin/RegelementCli/_delete_form.html.twig') }}
</div>
{% endblock %}
