{% extends "admin/base.html.twig" %}				

{% block title %}Catégories{% endblock %}

{% block body %}
<div class="container mt-2"> <!--debut container-->
    <div class="alert alert-success text-center">
      <h2> Menuiserie  {{ categorie.designation }}  </h2>
    </div>
    <div  class="row m-1 mb-4 border p-2 bg-secondary">
        <div class="col-8">
          <input type="text" placeholder="recherche un produit  ......." class="form-control ml-5" >
        </div>
        <div class="col-2">
        </div>
       
    </div>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>id</th>
                <th>Catégories</th>
                <th>Slug</th>
                <th>Description</th>
                <th>Date</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id}}</td>
                <td>{{ produit.type.typeCategorie}} Menuiserie {{ produit.type.Categories.designation}}</td>
                <td>{{ produit.slug }} </td>
                <td>{{ produit.description | raw   }} </td>
                <td>{{ produit.date }} </td>
                <td>
                <a href="{{ produit.image }}">
                    <img src="{{ asset('upload/'~ produit.image ) }}" class="img-fuild rounded-pill" height="50px" width="60px"  /></td>
                </a>
                <td>
                    <a href="{{ path('ProduitPageEdit',{'id': produit.id}) }}" class=""><i class="fas fa-edit text-success"></i></a>
                    <a href="{{ path('deleteProduitPage',{'id': produit.id}) }}" class=" "><i class="fas fa-trash-alt text-danger"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
</div><!--fin container-->
{% endblock body %}