{% extends 'Admin/base.html.twig' %}

{% block title %}Regelement index{% endblock %}

{% block body %}
<div class="container">
    <h1>Regelement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fournisseur</th>
                <th>Mode</th>
                <th>Libelle</th>
                <th>Date</th>
                <th>Montant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for regelement in regelements %}
            <tr>
                <td>{{ regelement.id }}</td>
                <td>{{ regelement.Fournissuer.NomComplet }}</td>
                <td>{{ regelement.modeRegelement.libelle }}</td>
                <td>{{ regelement.libelle }}</td>
                <td>{{ regelement.date }}</td>
                <td>{{ regelement.montantRegelement }}</td>
                <td>
                    <a href="{{ path('regelement_show', {'id': regelement.id}) }}">show</a>
                    <a href="{{ path('regelement_edit', {'id': regelement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('regelement_new') }}">Create new</a>
</div>
{% endblock %}
