{% extends "admin/base.html.twig" %}				

{% block title %} {{ clients.NomComplete }}{% endblock %}

{% block body %}
<div class="container mt-4" style="background-color: grey;"> <!--debut container-->
    <div class="card">
        <div class="card-header text-center ">
           <h3 class="text-info">   {{ clients.NomComplete }}</h3>
            <p>{{clients.objet}}</p>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                    <tr>
                        <th >Montant de Marchés  :</th>
                        <td class=""> <span> {{ clients.MontantTravaux|number_format(2, '.', ',') }}  dh</span> </td>
                    </tr>
                    <tr>
                        <th scope="col">Révision des Prix  :  :</th>
                        <td scope="col"> <span> {{ clients.RevesionPrix|number_format(2, '.', ',') }}  dh</span> </td>
                    </tr>
            </table>
            <table class="table table-hover  small">
                <legend class=" pl-5  bg-info text-light ">Les Avenants
               <a href="{{ path('AvenantNewPage',{'id': clients.id }) }}"><span class="float-right mr-2 mt-1 small "><i class="fas fa-plus-square text-light "></i> </span>
               </a>
             </legend>
                <thead>
                    <tr>
                        <th class="text-center">Avenants </th>
                        <th class="">Montant </th>
                        <th class="">Date </th>
                        <th class="">Actions </th>
                    </tr>
                </thead>
                <tbody> 
                {%  for avenant in clients.avenants %}
                    <tr>
                        <td class="text-center ">Avenant  N° :{{avenant.Libelle}}</td>
                        <td class=" ">{{ avenant.MontantAvenant|number_format(2, '.', ',')}} dh</td>
                        <td>
                         {{ avenant.date|date("d-m-Y") }}
                        </td>
                        <td>
                          <a href="{{path('AvenantEditPage',{'id': avenant.id }) }}"> <span class="  "><i class="fas fa-edit text-success"></i></span>
                        </a>
                         <a href="{{ path('deleteAvenantPage',{'id': avenant.id }) }}"><span class=" "><i class="fas fa-trash-alt text-danger "></i> </span>
                        </a>
                        </td>
                    </tr> 
                {% endfor %}
                    <tr >
                      <th colspan="1" ></th>
                      <th colspan="2"class="bg-secondary text-light text-center" >Total des Avenants  :</th>
                      <th class="">{{ clients.getTotalAvenant|number_format(2, '.', ',')}} dh</th>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr >
                        <td colspan="1"></td>
                      <th colspan="2" class="border bg-success text-light mt-3 text-center">Montant Total des Travaux  :</th>
                      <th  class="">{{  (clients.RevesionPrix  + clients.MontantTravaux + clients.getTotalAvenant )|number_format(2, '.', ',')}} dh</th>
                    </tr>
                </tbody>
            </table>
            
            <table class="table table-hover mt-3 small ">
             <legend class="pl-5  bg-info text-light">Les Décomptes
               <a href="{{ path('DecompteNewPage',{'id': clients.id }) }}"><span class="float-right mr-2 mt-1 small "><i class="fas fa-plus-square 2x text-light "></i> </span>
               </a>
             </legend>
                <thead>
                    <tr>
                        <th class="text-center">Décomptes </th>
                        <th >Montant </th>
                        <th >Date </th>
                        <th >Actions </th>
                    </tr>
                </thead>
                <tbody> 
                {%  for decompte in clients.decomptes %}
                    <tr class="client">
                        <td class="text-center">Décompte N° :{{decompte.Libelle}}</td>
                        <td class="">{{ decompte.MontantDecompte|number_format(2, '.', ',')}} dh</td>
                        <td>
                         {{ decompte.date|date("d-m-Y") }}
                         </td>
                         <td>
                         <a href="{{ path('DecompteEditPage',{'id':decompte.id}) }}" 
                             <span class="">
                             <i class="fas fa-edit text-success"></i></span>
                         </a>
                          <a href="{{ path('deleteDecomptePage',{'id': decompte.id }) }}"><span class="   ">
                          <i class="fas fa-trash-alt text-danger "></i> </span>
                        </a>
                        </td>
                       
                    </tr> 
                {% endfor %}
                    <tr class="">
                      <th></th>
                      <th class="bg-secondary text-center text-light" colspan="2">Total des Décomptes :</th>
                      <th>{{ clients.getTotalDecomptes|number_format(2, '.', ',')}} dh</th>
                    </tr>
                </tbody>
            </table>
            <table class="table table-hover">
                    <tr>
                        <th class="text-center"> Retenue de Garante  :</th>
                        <td class=""> <span> {{ clients.retenueGrantie|number_format(2, '.', ',') }}  dh</span> </td>
                    </tr>
                    <tr>
                        <th  class="text-center">Retenue de Finition  :</th>
                        <td scope="col"> <span> {{ clients.retenueFinition|number_format(2, '.', ',') }}  dh</span> </td>
                    </tr>
                    <tr>
                        <th  class="text-center">Pénalités de Retard  :  :</th>
                        <td scope="col"> <span> {{ clients.penalite|number_format(2, '.', ',') }}  dh</span> </td>
                    </tr>
                    <tr>
                        <th   class="text-center">Prorata  :</th>
                        <td scope="col"> <span> {{ clients.Prorata|number_format(2, '.', ',') }}  dh</span> </td>
                    </tr>
                    
            </table>
            <table class="table table-hover">
                    <tr class="bg-success text-light">
                        <th >Montant Totale sans Retenue (G-F)  :</th>
                        <td class=""> <span> {{ clients.CalcMontantTotal|number_format(2, '.', ',') }}  dh</span> </td>
                    </tr>
               
            </table>
            <table class="table table-hover">
                    <tr class="bg-danger text-light">
                        <th>Reste à Payer Avec retenue(G-F) </span></th>
                        <th   class="text-center">{{ clients.CalcRestAPaye|number_format(2, '.', ',') }}  dh</span></th>   
                    </tr>
            </table>
            
            
            <a href="{{ path('clientsPage') }}" class="btn btn-primary">Retour</a>
        </div>
    </div>
</div><!--fin container-->
{% endblock body %}





















