{% extends 'admin/base.html.twig' %}

{% block title %}Regelements index{% endblock %}

{% block body %}
<div class="container mb-5">
    <h1 class="text-center mt-4 mb-4">Regelements index</h1>
    <a href="{{ path('Regelements_new') }}">Ajouter un régelement</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pieces</th>
                <th>libelle</th>
                <th>fournisseur</th>
                <th>Banque</th>
                <th>Credit</th>
                <th>Mode</th>
                <th>Observation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for Regelement in Regelements %}
            <tr>
                <td>{{ Regelement.id }}</td>
                <td>{{ Regelement.designation }}</td>
                <td>{{ Regelement.libelle }}</td>
                <td>{{ Regelement.fournisseur.NomComplet }}</td>
                <td>{{ Regelement.banque }}</td>
                <td>{{ Regelement.credit|number_format(2, '.', ',') }}</td>
                <td>{{ Regelement.Mode.modeReg }}</td>
                <td>{{ Regelement.observation }}</td>
                <td>
                    <a href="{{ path('Regelements_show', {'id': Regelement.id}) }}">show</a>
                    <a href="{{ path('Regelements_edit', {'id': Regelement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
</div>
{% endblock %}
