{% extends 'admin/base.html.twig' %}

{% block title %}Regelements{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-4 mb-4">Regelements {{ Regelement.fournisseur.NomComplet }}</h1>

    <table class="table table-hover small">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ Regelement.id }}</td>
            </tr>
            <tr>
                <th>designation</th>
                  <td>{{ Regelement.designation }}</td>
            </tr>
            <tr>
                <th>libelle</th>
                  <td>{{ Regelement.libelle }}</td>
            </tr>
            <tr>
                <th>fournisseur</th>
                 <td>{{ Regelement.fournisseur.NomComplet }}</td>
            </tr>
            <tr>
                <th>Banque</th>
                  <td>{{ Regelement.banque }}</td>
            </tr>
             <tr>
                <th>Mode</th>
                  <td>{{ Regelement.Mode.modeReg }}</td>
            </tr>
             <tr>
                <th>credit</th>
                  <td>{{ Regelement.credit|number_format(2, '.', ',') }}</td>
            </tr>
            <tr>
                <th>observation</th>
                 <td>{{ Regelement.observation }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('Regelements_index',{'id' :  Regelement.fournisseur.id }) }}">Retour</a>

    <a href="{{ path('Regelements_edit', {'id': Regelement.fournisseur.id }) }}">edit</a>

    {{ include('admin/Regelements/_delete_form.html.twig') }}
{% endblock %}
